{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}

	<h1>Login!</h1>
	<br/><br/>

<div class="shadow p-3 mb-5 bg-body rounded">
	<form method="POST">
		{{ form.hidden_tag() }}

		{{ form.username.label(class="form-label") }}

		{{ form.username(class="form-control") }}
		<br/>

		{{ form.password.label(class="form-label") }}

		{{ form.password(class="form-control") }}

		<br/>

		{{ form.submit(class="btn btn-secondary") }}


	</form>
</div>


{% endblock %}