{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}

<br/>

<div class="shadow p-3 mb-5 bg-body rounded">
	<h2>{{ post.title }}</h2>
	<small>By: {{ post.post.name }}<br/>
	{{ post.date_posted }}</small> <br/><br/>
	{{ post.content|safe }}<br/><br/>

	
<div class="card mb-3">
	<div class="row no-gutters">
		<div class="col-md-10">
			<div class="card-body">
				<h5 class="card-title">
					{{ post.post.name }}
				</h5>
				<p class="card-text">
					{% if post.post.about_author %}
						{{ post.post.about_author }}
					{% else %}
						Author has no about profile yet...
					{% endif %}

				</p>
			</div>
		</div>
	</div>
</div>

</div>

{% if post.post_id == current_user.id %}

	<a href="{{ url_for('edit_post', identifier=post.id)}}" class="btn btn-outline-secondary btn-sm">Edit Post</a>

	<a href="{{ url_for('delete_post', identifier=post.id)}}" class="btn btn-outline-danger btn-sm">Delete Post</a>


{% endif %}

<a href="{{ url_for('posts')}}" class="btn btn-outline-secondary btn-sm">Back To Blog</a>


{% endblock %}